.DS_Store
Thumbs.db
*.psd
*.ai
/gitignore/
.sass-cache/
/node_modules/
/package-lock.json

## WordPress
www/htdocs/wp/*.log
www/htdocs/wp/xmlrpc.php
www/htdocs/wp/wp-trackback.php
www/htdocs/wp/wp-signup.php
www/htdocs/wp/wp-settings.php
www/htdocs/wp/wp-mail.php
www/htdocs/wp/wp-login.php
www/htdocs/wp/wp-load.php
www/htdocs/wp/wp-links-opml.php
www/htdocs/wp/wp-cron.php
www/htdocs/wp/wp-admin/
www/htdocs/wp/wp-config.php
www/htdocs/wp/wp-content/advanced-cache.php
www/htdocs/wp/wp-content/backup-db/
www/htdocs/wp/wp-content/backups/
www/htdocs/wp/wp-content/blogs.dir/
www/htdocs/wp/wp-content/cache/
www/htdocs/wp/wp-content/upgrade/
www/htdocs/wp/wp-content/uploads/
www/htdocs/wp/wp-content/wp-cache-config.php
www/htdocs/wp/wp-content/plugins/hello.php
www/htdocs/wp/wp-includes/
www/htdocs/wp/wp-content/themes/twentyseventeen/
www/htdocs/wp/wp-content/themes/index.php
www/htdocs/wp/wp-content/languages/
www/htdocs/wp/wp-content/db.php
www/htdocs/wp/wp-content/index.php
www/htdocs/wp/wp-config-sample.php
www/htdocs/wp/wp-comments-post.php
www/htdocs/wp/wp-blog-header.php
www/htdocs/wp/wp-activate.php

www/htdocs/.htaccess
www/htdocs/wp/license.txt
www/htdocs/wp/readme.html
www/htdocs/wp/sitemap.xml
www/htdocs/wp/sitemap.xml.gz
