/*
_mixin.scss
*/

@mixin appearance(){
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


@mixin button-reset() {
  @include appearance;
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin select-reset() {
  @include appearance;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  @include box-sizing(content-box);
  text-indent: 0.01px;
  text-overflow: "";
}
