$legacy-support-for-ie: false;

$font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
$font-family--mincho: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN";

$breakpoint-1: 480px;
$breakpoint-2: 768px;
