/*
## .table_2
*/

.table_2 {
  width: 100%;
  border: solid 1px #ccc;
  box-sizing: border-box;
  &__tr {
    
  }
  &__th,
  &__td {
    padding: 10px;
    border: solid 1px #ccc;
  }
  &__th {
    
  }
  &__td {
    
  }
}



/*
## .table_1
*/

.table_1 {
  width: 100%;
  border: solid 1px #ccc;
  box-sizing: border-box;
  &__tr {
    
  }
  &__th,
  &__td {
    padding: 10px;
    border: solid 1px #ccc;
  }
  &__th {
    
  }
  &__td {
    
  }
}
